HOST=10.88.14.78
PORT=3000
SSH_KEY_PATH=/home/user/.ssh/id_rsa
SSH_HOST=213.30.217.84
SSH_USER=it
SSH_REMOTE_PATH=/var/www/humhub/sig/Banner.png
ALLOWED_ORIGIN=http://10.88.14.78:3000
MAX_FILE_SIZE_MB=10

# SMB config for writing banner-link.txt to script share
SMB_HOST=10.88.14.04
SMB_SHARE=script$
SMB_AUTH_FILE=/home/user/.smb-credentials
